
<header>
	<div class="container">
		<h1><a href="/">Logo</a></h1>
		<p>3D artist, interaction designer and WebVR developer based in Los Angeles</p>

		<p><i class="far fa-envelope"></i> <a href="mailto:david.scott.lyons@gmail.com">david.scott.lyons@gmail.com</a></p>
		<p id="social">
			<a href="https://www.linkedin.com/in/davidscottlyons/" title="LinkedIn"><i class="fab fa-2x fa-linkedin"></i></a>
			<a href="https://twitter.com/davidscottlyons" title="Twitter"><i class="fab fa-2x fa-twitter"></i></a>
			<a href="https://github.com/davidlyons" title="GitHub"><i class="fab fa-2x fa-github"></i></a>
			<a href="https://codepen.io/davidlyons/" title="Codepen"><i class="fab fa-2x fa-codepen"></i></a>
		</p>
	</div>
</header>